<p>You requested sending Clip content from <a href="{{ clip_url }}">Clip</a> to this email.<br />
If you did not request this, please <a href="{{ unsubscribe_link }}">click here</a> to unsubscribe permamently.</p>
<p>Below is your clip data:</p>
<p></p>
<pre>{{ clip_content }}</pre>
<p></p>
<p>Best regards,</p>
<p>Clip</p>