<p>You requested sending Clip content to this email. To confirm it's you, please click the link below:</p>
<p><a href="{{ confirm_link }}">Confirm Link</a></p>
<p>If you did not request this, we are sorry, <a href="{{ unsubscribe_link }}">click here</a> to permamently unsubscribe.</p>
<p>Best regards,</p>
<p>CLip</p>